* {
  padding: 0px;
  margin: 0px;
}

/* Cabeçalho da pagina*/

.cabecalhoinicial {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  background-color: #e1d55e;
  text-align: center;
}
.cabecalho {
  margin-right: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #e1d55e;
  text-align: center;
  justify-content: left;
}

/* Rodape da pagina*/
.rodape {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  background-color: #e1d55e;
  position: absolute;
  width: 100%;
  height: 25px;
}


/* Tabela do Menu*/
.table {
  display: flex;
  flex: auto;
  justify-content: left;
  margin-left: 10%;
}

 

td {
    padding-top: 10px;
  background-color: e1d55e;
  flex-direction: row;
  width: 300px;
  justify-content: left;
  border-spacing: 20px 5px;
}

b {
  color: #ffffff;
}

.mapa {
  background-color: red;
  width: 97.5%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
}

.divLogCad {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #8d920a;
  text-align: center;
}



.divHome {
  display: flex;
  flex-direction: row;
}

.imgHome {
  border-radius: 5px;
  width: 500px;
  height: 550px;
}

.divCorpoH {
  display: flex;
  flex-direction: row-reverse;
}

.texto {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #f8efbd;
}

.botao {
  width: 332px;
  margin-left: 5%;
}

.divFormLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  height: 314px;
  margin-top: 22px;
}

.FundoLogin {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 398px;
  border-radius: 8px;
  margin: auto;
  padding: 15px;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border: 1px solid #dddfe2;
  

}

.textologin {
  display: flex;
  font-size: 18px;
  text-align: center;
  font-family: monospace;

}

.divTextoLogin {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 250px;
    padding: 2px 0px 5px;
    width: 396px;
    height: 22px;
}

.divEsqueceuSenha {
  display: flex;
  justify-content: center;
  padding: 10px 0 2px;
}

.textoesqueceusenha {
  font-size: 14px;
}

.botaoCadastrar {
  height: 50px;
  margin-left: 130px;
  margin-top: 10px;
}

.ancora {
    color: white;
    text-decoration: none;
}

.divFormCadastro {
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 400px;
  height: 300px;
}

.divFundoCadastro {
  display: flex;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: red;
}
