* {
  padding: 0px;
  margin: 0px;
}

/* Cabeçalho da pagina*/

.cabecalho {
  margin-right: 0;
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  background-color:#fc9e5b;
  text-align: center;
  justify-content: left;
  text-decoration: none;
  align-items: center;
  box-shadow:inset 6px -20px 14px rgb(255 0 0 / 10%), inset 7px -14px 16px rgb(255 0 0 / 10%)
  
}

.divlogo {
  width: 200px;
  height: 110px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 90px;
}

.divlogo2 {
  width: 100px;
  height: 100px;
  margin: auto;
}


.logcad {
  display: flex;
  flex-direction: row;
}

/* Rodape da pagina*/
.rodape {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  background-color: #e1d55e;
  position: absolute;
  width: 100%;
  height: 25px;
}

/* Tabela do Menu*/
.table {
  display: flex;
  flex: auto;
  justify-content: left;
  margin-left: 10%;
}

.classediv {
  text-decoration: none;
}

td {
  padding-top: 10px;
  background-color: e1d55e;
  flex-direction: row;
  width: 300px;
  justify-content: left;
  border-spacing: 20px 5px;
}

b {
  color: #ffffff;
}

.mapa {
  background-color: red;
  width: 97.5%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
}

.divLogCad {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #8d920a;
  text-align: center;
}

.divHome {
  display: flex;
  flex-direction: row;
}

.imgHome {
  border-radius: 5px;
  width: 500px;
  height: 710px;
}

.divCorpoH {
  display: flex;
  flex-direction:column;
}

.texto {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 427px;
  background-color: #f8efbd;
}

.botao {
  width: 332px;
  margin-left: 5%;
}

.bpginicial {
  color: black;
}

.divFormLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  height: 314px;
  margin-top: 22px;
  padding-top: 30px;
}

.FundoLogin {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 398px;
  border-radius: 8px;
  margin: auto;
  padding: 15px;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddfe2;
}

.textologin {
  display: flex;
  font-size: 18px;
  text-align: center;
  font-family: monospace;
}

.divTextoLogin {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 250px;
  padding: 2px 0px 5px;
  width: 396px;
  height: 22px;
}

.divEsqueceuSenha {
  display: flex;
  justify-content: center;
  padding: 10px 0 2px;
}

.textoesqueceusenha {
  font-size: 14px;
}

.botaoCadastrar {
  height: 50px;
  margin-left: 130px;
  margin-top: 10px;
}

.ancora {
  color: white;
  text-decoration: none;
}

.divFormCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 400px;
  margin: auto;
}

.divFundoCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dddfe2;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.divGlobal {
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.divMenu {
  display: flex;
  flex-direction: row-reverse;
}

.divtextocadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 76px;
  border-bottom: 1px solid #dddfe2;
}

.textocadastro1 {
  text-align: center;
  font-size: 25px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.textocadastro2 {
  color: #606770;
  text-align: center;
  font-size: 15px;
}

.botaocadastro {
  width: 332px;
}

.divBotaoCadastro {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.divBotaoCadastrar {
  display: flex;
  justify-content: center;
}
